[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
underground = "*"
flask = "*"
flask-cors = "*"
sourcemap = "*"
bs4 = "*"
pyjson5 = "*"
python-dotenv = "*"
gunicorn = "*"
eventlet = "==0.30.2"

[scripts]
mtastatus = "python3 app.py"
update_destinations = "python3 update_destinations.py"
